p {
    padding: 4mm;
    border: 2px solid blue;
    text-align: justify;
    position: absolute;
    left: 315px;
    right: 315px;
}

span {
    padding: 5px;
    margin: 10px;
    background-color: orange;
    border-radius: 10px;
    float: left;
}